page-home {

    ion-grid {
        height: 100%;
        justify-content: center;
    }

    ion-icon {
        color: white;
    }

    ion-title {
        text-align: center;
    }

    h3 {
        background-color: color($colors, backgroundColor);
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        color: white;
    }

    .darkDiv {
        background-color: color($colors, backgroundColor); 
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .totalFundsDiv {
        background-color: color($colors, backgroundColor); 
        margin-top: 0px;
        margin-bottom: 0px;     
        height: 40px;   
    }

    .sendReceiveDiv {
        background-color: color($colors, backgroundColor);
        margin-top: 0px;
        margin-bottom: 0px;      
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 120px;  
    }

    .transactionItem {
        padding-left: 0px;
        padding-right: 0px;

        :focus, :active {
            background-color: lightgray;
        }
    }
}
