page-send {

    ion-grid {
        height: calc(100% - 230px);
        justify-content: center;

        ion-row {
            height: 20%;
        }
    }

    ion-icon {
        color: white;
    }

    .trtlAddressDiv {
        background-color: white;
        width: 100%;
        height: 70px;
        position:relative;
        top:0px;
        padding-top: 13px;
        margin-top: -56px;
    }

    .quantityToSendDiv {
        background-color: yellowgreen; 
        width: 100%; 
        height: 140px; 
        position:relative; 
        top:0px;

        .item {
            background-color: yellowgreen;

            .button {
                margin-top: 20px;
            }
        }
    }

    .swapIconDiv {
        text-align: center;
        height: 0px;

        ion-icon {
            transform: rotate(90deg); 
            font-size: 26px
        }
    }

    .sendContent {
        margin-top: 56px; 
        background-color: color($colors, backgroundColor);
    }

    .button-inner {
        color: white;
    }

    .item-inner {
        padding-right: 62px!important;
        border-bottom: none!important;
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .trtlQuantityToSendInput {
        text-align: center; 
        padding-top: 13px;
        -webkit-text-fill-color: color($colors, backgroundColor);
    }

    .trtlDollarConversion {
        text-align: center;
        padding-top: 23px; 
        border-top: 0.5px solid gray;
        -webkit-text-fill-color: darkolivegreen;
        margin-right: 0px;
    }

    .darkDiv {
        background-color: rgb(10, 58, 0);  
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .trtlAddress {
        background-color: white;
        margin-top: 0px;
        margin-bottom: 0px;     
        height: 70px;   
    }

    .gridColOffsetLeft {
        margin-left: 10%;
    }

    .gridColOffsetRight {
        margin-right: 10%;
    }

    .numPadButton {
        border-color: rgb(10, 58, 0);
        padding: 0px;

        :focus, :active {
            background-color: mediumseagreen;
        }
    }
    
}
